#title{
    background:#ff4c68;
}
h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
}
#title-page .please{
    margin-bottom: 3rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8rem;
}
.container{
    padding: 3% ,12%;
}
#hello{
    padding-left: 50%;
}
body{
    font-family: 'Montserrat', sans-serif;
}


.navbar{
    padding-bottom: 3rem;
}

#mainnavbar .navbar-brand{
    font-weight:bold;
    
    font-size: 2.5rem;
}
#hello .nav-item{
    font-size: 1.5rem
}
#gallery .title-image{
    width: 50%;
    transform: rotate(25deg);
    
}
#features span{
    color:#ef8172;
    
}
#features span .pad{
    margin-bottom: 5rem;
}
#features span:hover{
    color: #ff4c68;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
}
#features .feature-box{
    text-align: center;
    padding: 2%;
}
#features h3{
    font-family: "Montserrat",sans-serif;
    font-size: 1.5rem;
}
#features p{
    color: #8f8f8f;
}

#testimonials{
    background-color: #ef8172;
    text-align: center;
    

}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 4%;
}


#cta{
    padding: 3%;
    background-color: #ff4c68;
    text-align: center;
}
h3{
    font-size: 'Montserrat', sans-serif;
    margin-bottom: 3px;
}


#footer{
    padding: 3%;
    text-align: center;
}





































